html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto Mono", monospace;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
  
.container {
    text-align: center;
    padding: 20px;
}
  
.page-title {
    color: #ffffff;
    margin: 25px 0 5px;
    font-size: 38px;
}
  
.page-logo {
    width: 200px;
}
  
body > img {
    margin: 0 10px;
}
  
img {
    max-height: 250px;
}
  
.form{
    display:flex;
    flex-direction: column;
}
  
#numero, #btn-converter{
    margin: 8px auto;
    text-align: center;
    border-radius:20px;
    border-color: #6bd0fe;
}
  
#numero{
    font-size: 17px;
    padding: 10px 25px;
}
  
#btn-converter{
    border:none;
    border-radius:20px;
    padding: 11px 24px;
    font-size: 15px;
    background-color: #6bd0fe;
}
  
#resultado{
    color: white;
    font-size: 35px;
    margin: 8px;
}
